<div class="col-12">
    <div class="form-floating mb-3" >
        <textarea class="form-control"  placeholder="Комментарий" id="comment" name="comment" style="height: 200px;">{{this.comment}}</textarea>
        <label for="comment">Комментарий</laber>
    </div>
</div>

<div class="col-12 d-grid">
     <button class="btn btn-primary" type="submit">Применить</button>
</div>
