<div class="col-12 float-left" name="update">
    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="comment" name="comment" style="height: 200px;">{{this.comment}}</textarea>
            <label for="comment">Комментарий</laber>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="theme_name" name="theme_name">{{this.theme_name}}</textarea>
            <label for="theme_name">Тема ВКР</laber>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="reviewer_name" name="reviewer_name">{{this.reviewer_name}}</textarea>
            <label for="reviewer_name">Рецензент</laber>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="teacher_name" name="teacher_name">{{this.teacher_name}}</textarea>
            <label for="teacher_name">Преподаватель</laber>
        </div>
    </div>

</div>

<div class="col-12 d-grid">
     <button class="btn btn-primary" type="submit">Применить</button>
</div>
