<div class="col-12 float-left" name="update">
    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="comment" name="comment" style="height: 200px;">{{this.comment}}</textarea>
            <label for="comment">Комментарий</laber>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="theme_name" name="theme_name">{{this.theme_name}}</textarea>
            <label for="comment">Тема ВКР</laber>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3" >
            <textarea class="form-control"  placeholder="Комментарий" id="theme_name" name="reviewer_name">{{this.reviewer_name}}</textarea>
            <label for="comment">Рецензент</laber>
        </div>
    </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="col-12 d-grid">
     <button class="btn btn-primary" type="submit">Применить</button>
</div>
