<ul class="list-group">
  <li class="list-group-item" style="font-size: 25px">Темы курсовых проектов (очное)</li> <li class="list-group-item" style="font-size: 25px">Темы ВКР (очное)</li>
  <li class="list-group-item" style="font-size: 25px"> <a href="/extvkr">Темы ВКР (заочное)</a></li>
</ul>
