<ul class="list-group">
    <li class="list-group-item" style="font-size: 25px"> <a href="/tpVkr">Темы курсовых проектов (очное)</li> 
    <li class="list-group-item" style="font-size: 25px"> <a href="/flVkr">Темы ВКР (очное)</li>
    <li class="list-group-item" style="font-size: 25px"> <a href="/extVkr">Темы ВКР (заочное)</a></li>
    <li class="list-group-item" style="font-size: 25px"> <a href="/files">Материал</a></li>
</ul>
