<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/tpVkr">Назад</a></li>
    <li class="breadcrumb-item active" aria-current="page">Студент</li>
  </ol>
</nav>

<div class="view-user p-3">
  {{#each result}}
  <div class="row mb-3">
    <div class="col text-center">
      <h3>{{this.student_name}}</h3>
    </div>
  </div>
  <div class="row p-4">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Студент</th>
            <th scope="col">Тема КП</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{this.student_name}}</td>
            <td>{{this.theme_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col">
        <b>Комментарий</b>
      </div>
    </div>
    <div class="row">
       <div class="col text-break">
           {{this.comment}}
       </div>
    </div>
  </div>
  {{/each}}
</div>


