<div class="row">
  <div class="col-6"><h1>Студенты</h1></div>
  <div class="col-6 d-flex justify-content-end">
      <a href="/tpVkr/admin" type="button" class="btn btn-primary align-self-center">Редактирование</a>
  </div>
</div>

<table class="table table-bordered">

  <thead class="thead-dark">
    <tr>
      <th scope="col" class="col col-sm-1 text-center">#</th>
      <th scope="col" class="col col-auto">Студент</th>
      <th scope="col" class="col col-auto">Тема КП</th>
      <th scope="col" class="col col-sm-1 text-center">Комментарий</th>
    </tr>
  </thead>

  <tbody>
    {{#each result}}
    <tr>
      <th scope="row" class="text-center">{{this.student_id}}</th>
      <td>{{this.student_name}}</td>
      <td>{{this.theme_name}}</td>
      <td class="text-center">
        <a href="/tpVkr/viewuser/{{this.student_id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i> Просм.</a>
      </td>
    </tr>
    {{/each}}
    
  </tbody>

</table>
